* {
    margin: 20dp;
    padding: 20dp;
    box-sizing: border-box;
    font-family: 'Segoe UI',sans-serif ;
}
#Segitiga {
    display: block;
}
#Jajargenjang {
    display: none;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
  }
  
  li a {
    align-items: center;
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  li a:hover {
    background-color: #4625ff;
    color: white;
  }
section{
    padding: 10px;
    max-width: 450px;
    width: 100%;
    background-color: #ffffff;
    border-radius: 20px;
    border-color:black;
}
